<div class="container-fluid" style="background-color: #172337; color: white; padding: 65px 30px;">
    <div class="row d-flex justify-content-center">
        <div class="footerLists">
            <p>ABOUT</p>
            <ul class="lists">
                <li>Contact Us</li>
                <li>About Us</li>
                <li>Careers</li>
                <li>Flipkart Stories</li>
                <li>Press</li>
                <li>Flipkart Wholesale</li>
                <li>Corporte Information</li>
            </ul>
        </div>
        <div class="footerLists">
            <p>HELP</p>
            <ul class="lists">
                <li>Payments</li>
                <li>Shipping</li>
                <li>Cancellation & Returns</li>
                <li>FAQ</li>
                <li>Report Infringement</li>
            </ul>
        </div>
        <div class="footerLists">
            <p>CONSUMER POLICY</p>
            <ul class="lists">
                <li>Return Policy</li>
                <li>Terms Of Use</li>
                <li>Security</li>
                <li>Privacy</li>
                <li>Sitemap</li>
                <li>Grivance Redressal</li>
                <li>EPR Compliance</li>
            </ul>
        </div>
        <div class="footerLists">
            <p>SOCIAL</p>
            <ul class="lists">
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Youtube</li>
            </ul>
        </div>
        <div class="foorterDesc">
            <p>Mail Us:</p>
            <div class="foorterDesc-data">
                <p>Flipkart Internet Private Limited,</p>
                <p>Buildings Alyssa, Begonia &</p>
                <p>Clove Embassy Tech Village,</p>
                <p>Outer Ring Road, Devarabeesanahalli Village,</p>
                <p>Bengaluru, 560103,</p>
                <p>Karnataka, India</p>
            </div>
        </div>
        <div class="foorterDesc">
            <p>Registered Office Address:</p>
            <div class="foorterDesc-data">
                <p>Flipkart Internet Private Limited,</p>
                <p>Buildings Alyssa, Begonia &</p>
                <p>Clove Embassy Tech Village,</p>
                <p>Outer Ring Road, Devarabeesanahalli Village,</p>
                <p>Bengaluru, 560103,</p>
                <p>Karnataka, India</p>
                <p>CIN : U51109KA2012PTC066107</p>
                <p>Telephone: <span style="color: #2874F0; font-size: 12px;">044-45614700</span></p>
            </div>
        </div>
    </div>
</div>