*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
p{
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px;

}

.lists{
    list-style-type: none;
    li{
        line-height: 2;
        font-size: 13px;
        font-weight: 500;
        color: #fff;
        display: block;
        font-weight: 400;
        font-size: 12px;
    }
}

.foorterDesc{
    padding: 0 25px;
    .foorterDesc-data{
        p{
            line-height: 1;
            font-size: 13px;
            font-weight: 500;
            color: #fff;
            display: block;
            font-weight: 400;
            font-size: 12px;
        }
    }
}

.footerLists{
    margin: 0 24px;
}