<nav>
    <div class="container-fluid ">
        <div class="row navBar d-flex justify-content-center align-items-center ">
            <div class="navbar-logo" (click)="goToHomePage()">
                <div class="row-12"><img src = 'assets\FlipkartLogo.png' class="img-fluid" width="78"></div>
                <div class="">
                    <div>
                        <span>Explore <span style="color: #ffe500;">Plus</span></span><img src="assets\FlipKartStar.png" class="img-fluid" width="12">
                    </div>
                </div>
            </div>
            <div class="searchBar">
                <div class="row">
                    <!-- <div class="searchBarFeild"><input (keydown.enter)="searchResult()" [(ngModel)]="searchValue" type="text" placeholder="Search for products, brands and more"></div> -->
                    <div class="searchBarFeild"><input (keydown.enter)="searchResult()" [(ngModel)]="searchValue" type="text" placeholder="Search for products, brands and more"></div>

                    <div class=" searchBarMagnifyIcon"><a (click)="searchResult()"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                </div>
            </div>
            <div class="loginButton" *ngIf="isUserLoggedIn==false" (click)="openModal()">
                Login 
            </div>
            <div class="userName" *ngIf="isUserLoggedIn==true" >
                Welcome {{loggedInUser}}
            </div>
            <div class="becomeSeller">Become a Seller</div>
            <div class="navbarMenu">
                Menu 
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
            <div class="navbarCart" (click)="showCart()" routerLink="/cart">
                <div class="navbarOrderCount">{{cartCount}}</div>
                <p><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</p>
            </div>

            <div class="logOutButton" *ngIf="isUserLoggedIn==true" (click)="userLoggedOut()">
                Log Out 
            </div>
        </div>
    </div>
</nav>