<nav cla>
    <div class="container-fluid">
        <div class="row d-flex justify-content-between align-items-center px-4 navbar-category">
            <div *ngFor="let category of productListCategories">
                <span>{{category.categoryName}}</span>
                <i class="fa fa-angle-down" aria-hidden="true" *ngIf="category.subCategory==true"></i>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid" style="font-family: 'Roboto', sans-serif;">
    <div class="row productList">
        <div class="filter-sidebox">
            <div><h5>Filters</h5></div><hr>
            <div>Categories <i class="fa fa-angle-down" aria-hidden="true"></i></div><hr>
            <div>Price <i class="fa fa-angle-down" aria-hidden="true"></i></div><hr>
            <div>Brand <i class="fa fa-angle-down" aria-hidden="true"></i></div><hr>
            <div>Customer rating <i class="fa fa-angle-down" aria-hidden="true"></i></div><hr>
            <div>Offers <i class="fa fa-angle-down" aria-hidden="true"></i></div><hr>
            <div>Availability <i class="fa fa-angle-down" aria-hidden="true"></i></div><hr>
            <div>Discount <i class="fa fa-angle-down" aria-hidden="true"></i></div><hr>
            <div>Availabel on your PIN <i class="fa fa-angle-down" aria-hidden="true"></i></div>
        </div>

        <div class="filteredResults">

            <div class="mt-2" style="padding: 12px 16px 0;">
                <span style="font-size: 16px; margin: 8px 0 0;">Showing {{numberOfProducts}} results for "{{searchResult}}"</span>
            </div>

            <div style="padding: 8px 16px 0;">
                <a href="#"><div class="filter-category">Sort By</div></a>
                <a href="#"><div class="filter-category" style="color: #2874f0; border-bottom: 2px solid #2874f0;">Relevance</div></a>
                <a href="#"><div class="filter-category">Popularity</div></a>
                <a href="#"><div class="filter-category">Price -- Low to High</div></a>
                <a href="#"><div class="filter-category">Price High to Low</div></a>
                <a href="#"><div class="filter-category">Newest First</div></a>
            </div>

            <hr>
            <div class="row Allproducts" *ngFor="let data of filteredData" >
                <div style="width: 170px; cursor: pointer;" routerLink="/product/productDetails/{{data.id}}" class="d-flex justify-content-center align-items-center">
                    <img src={{data.srcLink}}  class="img-fluid"  style="max-height: 200px;">
                </div>
                <div style="padding-left: 40px; width: 419px;">
                    <div>
                        <div class="productName" routerLink="/product/productDetails/{{data.id}}"><h5>{{data.name}}</h5></div>

                        <div style="padding: 10px 0 8px;">
                            <div class="ratingButton">
                                {{data.rating}}
                                <i class="fa fa-star" aria-hidden="true" style="color: white;"></i>
                            </div>
                            <div style="display: inline-block; margin-left: 10px;"><span style="color: #878787; font-size: 14px;">9,534 Ratings & 535 Reviews <img src="assets/flipkartAssuredIcon.png" style="height: 21px;"></span></div>
                        </div>
                        <div class="descriptionListDiv">
                            <ul class="descriptionList">
                                <li *ngFor="let item of data | keyvalue">
                                    <span style=" color: #c2c2c2; padding-right: 8px">•</span> 
                                        {{item.key}} : {{item.value}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div style="padding-left: 25px;">
                    <div style="font-size: 25px; display: inline-block; margin-right: 20px;">
                        &#8377; {{data.price}}
                    </div>
                    <div style="color: #878787; font-size: 14px; padding: 10px 0 0; margin-bottom: 15px;">
                        <s>&#8377; {{data.originalPrice}}</s><span style="padding-left: 10px; color: #388E3C;">{{data.discount+"% "}}off</span>
                    </div>
                    <div style="font-size: 14px;">Free Delivery</div>
                    <div style="color: #388E3C; font-weight: 500; margin: 10px 0;">Upto <b>&#8377; 5,200</b> Off on Exchange</div>
                </div>
                
            </div>
        </div>
    </div>
</div>