<div class="container-fluid">
    <div class="row productCard">
        <div class="cardName">
            <div class="cardName-Name">
                <h2 class="mt-5 pt-2">{{"Best of " + productCategory}}</h2>
                <!-- <a><div class="cardButton">View All</div></a> -->
            </div>
        </div>
        <div class="allProducts" *ngIf="filteringData(productCategory) !=0">   <!--Just to filter data at start so that we have updated products-->
            <div class="product" *ngFor="let product of filteredData">
                <div routerLink="product/productDetails/{{product.id}}" style="cursor: pointer;">
                    <img src="{{product.srcLink}}">
                    <div class="productNameCSS">{{product.name}}</div>
                    <p style="font-size: 16px; color: #388e3c; padding-bottom: 5px ;">JUST &#8377; {{product.price}}</p>
                    <p style="color: #949494; font-size: 13px; letter-spacing: 1px;">Check Out More</p>
                </div>
            </div>
        </div> 
    </div>
</div>