<!-- <app-shopping-categories></app-shopping-categories>     -->

<div style="border: none; box-shadow: 0 1px 5px #e3dbdb;" class="row d-flex justify-content-between px-3" >
    <ng-container *ngFor="let navbarCategory of navbarCategories">
        <app-shopping-categories [category]="navbarCategory"></app-shopping-categories>
    </ng-container>
</div>

<app-advertisement></app-advertisement>

<ng-container *ngFor="let category of landingPagecategories">
    <app-product-card [productCategory] = "category"></app-product-card>
</ng-container>




