<app-navbar class="sticky-top" (showCartEmitter)="showCartProducts($event)" (showHomePage)="showHomePage($event)">
</app-navbar>

<!-- first page  -->


<!--product list page-->


<container-element [ngSwitch]="route">
    
    <div *ngSwitchCase="'/'">
        
        <app-shopping-categories></app-shopping-categories>
        <app-advertisement></app-advertisement>
        <app-product-card (productIdEmitter) = "showProductData($event)"></app-product-card> 
    </div>

    <div *ngSwitchCase="'cart'">
        <app-cart></app-cart> 
    </div>
    
    <div *ngSwitchDefault>
        <router-outlet></router-outlet>
    </div>

</container-element>
