<!-- <div class="container-fluid">
    <div class="row categoryHeader d-flex justify-content-between px-3">
        <div class="categoryCard " *ngFor="let category of categories" >
            <div class="row d-flex justify-content-center"><img src = {{category.categoryImage}} class="img-fluid" style="margin-bottom: 4px;"></div>
            <div class="row d-flex justify-content-center">
                <div>{{category.categoryName}}</div>
                <div *ngIf="category.subCategory===true">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="categoryCard " style="display: inline-block;">
    <div class="d-flex justify-content-center"><img src = {{category.categoryImage}} class="img-fluid" style="margin-bottom: 4px; width: 64px; height: 64px;"></div>
    <div class="d-flex justify-content-center">
        <div style="font-family:roboto, sans-serif;">{{category.categoryName}}</div>
        <div *ngIf="category.subCategory===true">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
    </div>
</div>
