<!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Launch modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="container-fluid m-0 p-0">
          <div class="row loginWindow">
            <div class="loginLogo">
                <span>Login</span>
                <p>Get access to your Orders, Wishlist and Recommendations</p>
            </div>
            <div class="row loginInputWindow">
                <form class="temp">
                  <input type="email" placeholder="Enter Email">
                  <input type="password" placeholder="Enter Password">
                  <div class="loginConditions">By continuing, you agree to Flipkart's <span style="color: #2874f0;">Terms of Use </span> and <span style="color: #2874f0;">Privacy Policy</span>.</div>
                  <a src="#" ><div class="loginButton d-flex justify-content-center align-items-center">Login</div></a>
                </form>
                <div class="createAccount d-flex justify-content-center align-items-end">
                    New to Flipkart? Create an account
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>